@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');


* {
  font-family: 'Noto Sans TC', sans-serif;
}


.pagination {
    border: none;
}

.page-link {
    border: none;
}

.page-item.disabled .page-link {
    border: none;
}

.pagination .page-link {
    text-decoration: none;
    color: black;
}

.pagination .page-link:hover {
    text-decoration: underline;
    background-color: white;
}

.pagination .page-link {
    text-decoration: none;
    color: black;
    background-color: white;
}

.pagination .page-link:hover {
    text-decoration: underline;
    color: lightblue;
}

.pagination .page-item.disabled .page-link {
    pointer-events: none;
    color: gray;
    background-color: white;
}

ol.breadcrumb a {
    text-decoration: none;
}

.list-group-item {
    border: none;
}


.no-border {
    border: none;
    border-bottom: 1px solid #dee2e6;
}
.no-border02 {
    border: none;
}

#ad {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;

  width: 100%;
  color: #ffffff;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
#ad * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#ad img {
  max-width: 100%;
  vertical-align: top;
}
#ad div {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
#ad h2,
#ad h4 {
  margin: 0;
}
#ad h2 {
  font-weight: 600;
}
#ad h4 {
  font-weight: 400;
  text-transform: uppercase;
}
#ad i {
  font-size: 32px;
}
#ad:after {
  background-color:rgba(51, 51, 51, 0.9);
  position: absolute;
  content: "";
  display: block;
  top: 30px;
  left: 40px;
  right: 40px;
  bottom: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
#ad a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
#ad:hover div,
#ad.hover div {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#ad:hover:after,
#ad.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

#modalPrice {
 color: #dc3545;
}

.cart-message {
        color: #FFFFFF;
        position: fixed;
        font-weight: bolder;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000000c2;
        padding: 20px;
        z-index: 9999;
        border-radius: 20px;
        font-size: 20px;
      }

.t1{
  font-size: 500%;
}


#backToTopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  transition: opacity 1.0s ease;
  opacity: 0;
  background-image: url('../img/top.png');
  background-size: cover;
}


.ktitle{
  width: 500px;
}

.line-height {
  line-height: 1.5;
}

.custom-btn {
  padding: 15px 30px;
  font-size: 18px;
  height: 60px;
  width: 200px;
}

#cartSuccessAlert {
  display: none;
  color: #FFFFFF;
  position: fixed;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000c2;
  padding: 20px;
  z-index: 9999;
  border-radius: 20px;
  font-size: 20px;
}
.custom-input {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.custom-input:checked {
  background-color: #000;
  color: #fff;
}
#cartfailAlert{
  display: none;
  color: #FFFFFF;
  position: fixed;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000c2;
  padding: 20px;
  z-index: 9999;
  border-radius: 20px;
  font-size: 20px;
}

.cardpay{
  width: 40px;
  height: 25px;

}
#cartIconWrapper {
  position: relative;
  display: inline-block;
}

#cartBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.8em;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.search-form {
  text-align: center;
  position: relative;
  display: inline-block;
}

.search-input {
  padding: 10px 10px 10px 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 790px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  color: #fff
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
  border-color: #666;
}

.search-input::placeholder {
  color: #999;
}


.search-icon {
  position: absolute;
  top: 44%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
