<!DOCTYPE html>
<html lang="en">

<head>
    <link href="img/logo.png" rel="shortcut icon" />
    <title>AMILA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cart.css" rel="stylesheet">
    <link href="css/mycss.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/NavigationBar.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <div id="app" >
      <button @click="scrollToTop" id="backToTopBtn" title="回到頂部"></button>
      <!-- 優惠訊息 -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary p-2" data-bs-theme="dark">
        <div class="container text-center">
          <div class="row mx-auto">
            <div class="col-12 ">
              <span class="navbar-brand mb-0 fs-6 text-light"><b>{{PromotionalMessage}}</b></span>
    
            </div>
          </div>
          <!-- Content here -->
        </div>
      </nav>
      <!-- 導覽列 -->
      <div id="navigation"></div>


      <success-alert v-if="successMessage" :message="successMessage"></success-alert>


    <div class="container mt-5">
        <form id="cartForm" class="needs-validation" @submit.prevent="handleSubmit">
            <div class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span><b>您的購物車</b></span>
                        <span class="badge bg-dark rounded-pill cart-badge-form">{{ totalQuantity }}</span>
                    </h4>
                    <ul class="list-group mb-3" id="cartList">
                        <li v-for="item in cartItems" :key="item.productId" class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">{{ item.title }}</h6>
                            </div>
                            <span class="text-body-secondary">{{ '$' + (item.price * item.quantity).toFixed(2) }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>總額 (NT)</span>
                            <strong>{{ '$' + totalAmount.toFixed(2) }}</strong>
                        </li>
                    </ul>
            
                    <hr>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="促銷代碼">
                        <button type="submit" class="btn btn-dark">輸入</button>
                    </div>
                    <button id="confirmOrderButton" class="w-100 btn btn-dark btn-lg mt-4 rounded-pill" type="submit">確認下單</button>
                </div>


                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3"><b>選擇送貨及付款方式</b></h4>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">收件人名稱</label>
                            <input type="text" class="form-control" id="firstName" v-model="formData.firstName" placeholder="" :class="{ 'is-invalid': !isFirstNameValid }">
                            <div class="invalid-feedback">
                                請填入收件人真實姓名，以確保順利收件
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="phone" class="form-label">收件人電話號碼</label>
                            <input type="text" class="form-control" id="phone" v-model="formData.phone" placeholder="" :class="{ 'is-invalid': !isPhoneValid }"> 
                            <div class="invalid-feedback">
                                請輸入正確的電話。
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">電子郵件</label>
                            <input type="email" class="form-control" id="email" v-model="formData.email" :class="{ 'is-invalid': !isEmailValid }" disabled>
                            <div class="invalid-feedback">
                                請輸入有效的電子郵件地址以獲取運送更新資訊。
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label mt-5">
                                <h4><b>帳單地址</b></h4>
                            </label>
                            <input type="text" class="form-control" id="address" v-model="formData.address" placeholder="街道地址" :class="{ 'is-invalid': !isAddressValid }">
                            <div class="invalid-feedback">
                                請輸入您的運送地址。
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">國家</label>
                            <select class="form-select" id="country" v-model="formData.country" :class="{ 'is-invalid': !isCountryValid }">
                                <option value="">選擇...</option>
                                <option>台灣</option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇一個有效的國家。
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">地區</label>
                            <select class="form-select" id="state"  v-model="formData.state" :class="{ 'is-invalid': !isStateValid }">
                                <option value="">選擇...</option>
                                <option>台北</option>
                                <option>台中</option>
                                <option>台南</option>
                            </select>
                            <div class="invalid-feedback">
                                請提供有效的地區。
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">郵遞區號</label>
                            <input type="text" class="form-control" id="zip" placeholder="" v-model="formData.zip" :class="{ 'is-invalid': !isZipValid }">
                            <div class="invalid-feedback">
                                請提供有效的郵遞區號。
                            </div>
                        </div>
                    </div>

                    <h4 class="mb-3 mt-5"><b>支付</b></h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input custom-input" v-model="paymentMethod" value="credit"  @change="handlePaymentMethodChange">
                            <label class="form-check-label d-flex align-items-center" for="credit">信用卡或金融卡
                                <span class="ms-auto d-flex">
                                    <img src="img/VISA.png" class="cardpay img-thumbnail">
                                    <img src="img/JCB.png" class="cardpay img-thumbnail">
                                    <img src="img/MasterCard.png" class="cardpay img-thumbnail">
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input custom-input" v-model="paymentMethod" value="paypal"  @change="handlePaymentMethodChange">
                            <label class="form-check-label" for="paypal">貨到付款</label>
                        </div>
                    </div>

                    <div class="row gy-3" v-if="paymentMethod === 'credit'">
                        <div class="col-md-6 credit-card-details">
                            <label for="creditCardName" class="form-label">卡片上的名字</label>
                            <input type="text" class="form-control" id="creditCardName" placeholder="" v-model="formData.creditCardName" :class="{ 'is-invalid': !isCreditCardNameValid }">
                            <small class="text-body-secondary">卡片上顯示的全名</small>
                            <div class="invalid-feedback">
                                卡片上姓名為必填項。
                            </div>
                        </div>

                        <div class="col-md-6 credit-card-details">
                            <label for="creditCardNumber" class="form-label">信用卡號碼</label>
                            <input type="text" class="form-control" id="creditCardNumber" placeholder="" v-model="formData.creditCardNumber" :class="{ 'is-invalid': !isCreditCardNumberValid }">
                            <div class="invalid-feedback">
                                需要有效的信用卡號碼。
                            </div>
                        </div>

                        <div class="col-md-3 credit-card-details">
                            <label for="creditCardExpiration" class="form-label">到期日</label>
                            <input type="text" class="form-control" id="creditCardExpiration" placeholder="" v-model="formData.creditCardExpiration" :class="{ 'is-invalid': !isCreditCardExpirationValid }">
                            <div class="invalid-feedback">
                                需要有效期限。
                            </div>
                        </div>

                        <div class="col-md-3 credit-card-details">
                            <label for="creditCardCvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="creditCardCvv" placeholder="" v-model="formData.creditCardCvv" :class="{ 'is-invalid': !isCreditCardCvvValid }">
                            <div class="invalid-feedback">
                                需要有效安全碼。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  <!-- 我的頁尾開始 -->
  <template>
    <Footer>
      <div class="b-example-divider"></div>
      <div class="mt-5 p-4 text-white text-center " style="background-image: url('img/footer.png');" data-bs-theme="dark">
        <div class="container  mt-5">
          <footer class="py-5 mt-5">
            <div class="row  mt-5 ">
              <div class="col-6  mb-3">
                <ul class="nav flex-column">
                  <li class="nav-item mb-2 text-start">
                    <h5><b>聯絡我們</b></h5>
                  </li>
                  <br>
                  <li class="nav-item mb-2 text-start">
                    <h6>營業時間｜{{ businessHours }}</h6>
                  </li>
                  <li class="nav-item mb-2 text-start">
                    <h6>地址｜{{ address }}</h6>
                  </li>
                  <li class="nav-item mb-2 text-start">
                    <h6>客服信箱｜{{ email }}</h6>
                  </li>
                  <li class="nav-item mb-2 text-start">
                    <h6>客服電話｜{{ phone }}</h6>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 ">
                <form>
                  <div class="text-start">
                    <h5><b>訂閱電子報</b></h5>
                  </div>
                  <div class="input-group mb-3">
                    <label class="visually-hidden">訂閱電子報信箱</label>
                    <input type="text" class="form-control rounded-start" placeholder="訂閱電子報信箱"
                      aria-label="Recipient's username" aria-describedby="button-addon2" >
                    <button class="btn btn-outline-light " type="button" id="button-addon2">訂閱</button>
                  </div>
                  <div>
                    <ul class="list-unstyled d-flex">
                      <li class="ms-0"><img src="img/JCB.png" class="img-fluid img-thumbnail" alt="..."></a></li>
                      <li class="ms-0"><img src="img/VISA.png" class="img-fluid img-thumbnail" alt="..."></a></li>
                      <li class="ms-0"><img src="img/MasterCard.png" class="img-fluid img-thumbnail" alt="..."></a></li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
              <p>&copy; {{ currentYear }} 阿米拉工作室股份有限公司</p>
            </div>
          </footer>
        </div>
      </div>
    </Footer>
  </template>
    <!-- 我的頁尾結束 -->
  </div>


  <script>
    Vue.component('success-alert', {
        props: ['message'],
        template: `
        <div id="SuccessAlert" class="d-flex align-items-center">
            {{ message }}
            <div class="spinner-grow spinner-grow-sm mx-2" role="status">
            <div class="visually-hidden">Loading...</div>
            </div>
            <div class="spinner-grow spinner-grow-sm me-2" role="status">
            <div class="visually-hidden">Loading...</div>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
            <div class="visually-hidden">Loading...</div>
            </div>
        </div>
        `
    });
    new Vue({
      el: '#app',
      data() {
        return {
          PromotionalMessage: '歡慶阿米拉品牌月！全館 $599 享免運！',
          businessHours: "周一至周五 09：00 - 16：30",
          address: "臺中市南屯區公益路二段51號(國泰公益大樓)",
          email: "amila@gmail.com",
          phone: "(04)2242-1717 #263",
          currentYear: new Date().getFullYear(),
          successMessage: '',
          cartItems: [],
          userData: {},
          totalAmount: 0,
          formData: {
            firstName: '',
            phone: '',
            email: '',
            address: '',
            country: '',
            state: '',
            zip: '',
            creditCardName: '',
            creditCardNumber: '',
            creditCardExpiration: '',
            creditCardCvv: ''
          },
          paymentMethod: 'credit',
          creditCardVisible: false,
          isFirstNameValid: true,
          isPhoneValid: true,
          isEmailValid: true,
          isAddressValid: true,
          isCountryValid: true,
          isStateValid: true,
          isZipValid: true,
          isCreditCardNameValid: true,
          isCreditCardNumberValid: true,
          isCreditCardExpirationValid: true,
          isCreditCardCvvValid: true
        };
        },
        computed: {
            totalQuantity() {
                return this.cartItems.reduce((total, item) => total + item.quantity, 0);
            }
        },
        mounted() {
            const userDataCart = JSON.parse(localStorage.getItem('userData'));
            if (userDataCart) {
                this.userData = userDataCart;
                this.formData.email = userDataCart.userEmail; // 将userEmail更新到formData中
            }
            this.handleScroll();
            this.displayCartItems();
        },
        methods: {
            handleSubmit(event) {
                event.preventDefault();
                const userData = JSON.parse(localStorage.getItem('userData'));
                const userId = userData.userId;
                const userEmail = userData.userEmail;
                const cartItems = JSON.parse(localStorage.getItem('cartItems'));
                const formDataToSend = {
                    userId: userId,
                    userEmail: userEmail,
                    cartItems: cartItems.map(item => ({
                        title: item.title,
                        price: item.price,
                        quantity: item.quantity,
                        totalAmount: item.price * item.quantity
                    })),
                    userFormData:{
                        firstName: this.formData.firstName,
                        phone: this.formData.phone,
                        address: this.formData.address,
                        country: this.formData.country,
                        state: this.formData.state,
                        zip: this.formData.zip,
                    }, 
                    paymentMethod: this.paymentMethod
                };
                if (this.validateForm()) {
                    fetch('http://localhost:8000/submitOrder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formDataToSend),
                    })
                    .then(response => {
                        if (response.ok) {
                            
                            this.successMessage = '下單成功';
                            window.location.href = 'index.html';
                            this.clearCart();
                        } else {
                            console.error('發生錯誤');
                            
                        }
                    })
                    .catch(error => {
                        console.error('發生錯誤');
                    });
                } else {
                    console.error('發生錯誤');
                }
            },
            validateForm() {
                this.isFirstNameValid = this.formData.firstName !== '';
                this.isPhoneValid = this.formData.phone !== '';
                this.isEmailValid = this.formData.email!== '';
                this.isAddressValid = this.formData.address!== '';
                this.isCountryValid = this.formData.country!== '';
                this.isStateValid = this.formData.state!== '';
                this.isZipValid = this.formData.zip!== '';
                if (this.paymentMethod === 'credit') {
                    this.isCreditCardNameValid = this.formData.creditCardName !== '';
                    this.isCreditCardNumberValid = this.formData.creditCardNumber !== '';
                    this.isCreditCardExpirationValid = this.formData.creditCardExpiration !== '';
                    this.isCreditCardCvvValid = this.formData.creditCardCvv !== '';
                    return this.isFirstNameValid && this.isPhoneValid && this.isEmailValid && this.isAddressValid && this.isCountryValid && this.isStateValid && this.isZipValid && this.isCreditCardNameValid && this.isCreditCardNumberValid && this.isCreditCardExpirationValid && this.isCreditCardCvvValid;
                }else {
                    this.isCreditCardNameValid = true;
                    this.isCreditCardNumberValid = true;
                    this.isCreditCardExpirationValid = true;
                    this.isCreditCardCvvValid = true;
                    return this.isFirstNameValid && this.isPhoneValid && this.isEmailValid && this.isAddressValid && this.isCountryValid && this.isStateValid && this.isZipValid;
                }
            },
            handlePaymentMethodChange() {
                if (this.paymentMethod === 'credit') {
                this.creditCardVisible = true;
                } else {
                this.creditCardVisible = false;
                }
            },
            clearCart() {
                localStorage.removeItem('cartItems');
            },
            displayCartItems() {
                const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
                let totalAmount = 0;
                cartItems.forEach(item => {
                    totalAmount += item.price * item.quantity;
                });
                this.cartItems = cartItems;
                this.totalAmount = totalAmount;
            },
            handleScroll() {
                // 滾動事件處理程序
                let prevScrollpos = window.pageYOffset;
                let backToTopBtn = document.getElementById("backToTopBtn");
                window.addEventListener("scroll", () => {
                let currentScrollPos = window.pageYOffset;
                if ((currentScrollPos > 100 && currentScrollPos !== 0) && prevScrollpos > currentScrollPos) {
                    // 判斷是否顯示回到頂部按鈕
                    backToTopBtn.style.opacity = "1";
                } else {
                    backToTopBtn.style.opacity = "0";
                }
                prevScrollpos = currentScrollPos;
                });
                backToTopBtn.addEventListener("click", () => {
                this.scrollToTop();
                });
            },
            scrollToTop() {
                window.scrollTo({
                top: 0,
                behavior: "smooth"
                });
            },
        }  
    });
  </script>
  <script>
    const navigationElement = document.getElementById('navigation');
    new Vue({
      render: h => h(NavigationBar)
    }).$mount(navigationElement);
  </script>
</body>
