<!DOCTYPE html>
<html lang="en">

<head>
    <link href="img/logo.png" rel="shortcut icon" />
    <title>AMILA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cart.css" rel="stylesheet">
    <link href="css/mycss.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/NavigationBar.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div id="app" >
    <button @click="scrollToTop" id="backToTopBtn" title="回到頂部"></button>
    <!-- 優惠訊息 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-2" data-bs-theme="dark">
      <div class="container text-center">
        <div class="row mx-auto">
          <div class="col-12 ">
            <span class="navbar-brand mb-0 fs-6 text-light"><b>{{PromotionalMessage}}</b></span>
          </div>
        </div>
      </div>
    </nav>
    <!-- 導覽列 -->
    <div id="navigation"></div>
    <div class="container mt-5">
      <h1 class="fw-bold mb-3">歷史訂單</h1>
      <div class="bg-body-tertiary p-5 rounded mt-3">
        <div class="row mt-2" v-for="(order, orderIndex) in items" :key="orderIndex">
          <div class="col-1"><img src="img/order.png" class="d-block img-fluid" alt="order" /></div>
          <div class="col-1"></div>
          <div class="col-10">
              <h3>訂單明細</h3>
              <p class="text-secondary">{{order.totalQuantity}}件商品，共 NT${{order.totalPrice}} 訂購於 {{order.orderDate}} 的 {{order.orderTime}}</p>
          </div>
          <div class="col-12 my-3">
            <div class="my-2" v-for="(item, itemIndex) in order.items" :key="itemIndex">
              <div class="row my-3">
                <div class="col-1 text-center">
                  <h5 class="border border-secondary py-2">{{ item.quantity }}</h5>
                </div>
                <div class="col-1"></div>
                <div class="col-8 py-2">
                  <h4>{{ item.title }}</h4>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <!-- 我的頁尾開始 -->
    <template>
      <Footer>
        <div class="b-example-divider"></div>
        <div class="mt-5 p-4 text-white text-center " style="background-image: url('img/footer.png');" data-bs-theme="dark">
          <div class="container  mt-5">
            <footer class="py-5 mt-5">
              <div class="row  mt-5 ">
                <div class="col-6  mb-3">
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2 text-start">
                      <h5><b>聯絡我們</b></h5>
                    </li>
                    <br>
                    <li class="nav-item mb-2 text-start">
                      <h6>營業時間｜{{ businessHours }}</h6>
                    </li>
                    <li class="nav-item mb-2 text-start">
                      <h6>地址｜{{ address }}</h6>
                    </li>
                    <li class="nav-item mb-2 text-start">
                      <h6>客服信箱｜{{ email }}</h6>
                    </li>
                    <li class="nav-item mb-2 text-start">
                      <h6>客服電話｜{{ phone }}</h6>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 ">
                  <form>
                    <div class="text-start">
                      <h5><b>訂閱電子報</b></h5>
                    </div>
                    <div class="input-group mb-3">
                      <label class="visually-hidden">訂閱電子報信箱</label>
                      <input type="text" class="form-control rounded-start" placeholder="訂閱電子報信箱"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-outline-light " type="button" id="button-addon2">訂閱</button>
                    </div>
                    <div>
                      <ul class="list-unstyled d-flex">
                        <li class="ms-0"><img src="img/JCB.png" class="img-fluid img-thumbnail" alt="..."></a></li>
                        <li class="ms-0"><img src="img/VISA.png" class="img-fluid img-thumbnail" alt="..."></a></li>
                        <li class="ms-0"><img src="img/MasterCard.png" class="img-fluid img-thumbnail" alt="..."></a></li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
              <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>&copy; {{ currentYear }} 阿米拉工作室股份有限公司</p>
              </div>
            </footer>
          </div>
        </div>
      </Footer>
    </template>
      <!-- 我的頁尾結束 -->
  </div>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          PromotionalMessage: '歡慶阿米拉品牌月！全館 $599 享免運！',
          businessHours: "周一至周五 09：00 - 16：30",
          address: "臺中市南屯區公益路二段51號(國泰公益大樓)",
          email: "amila@gmail.com",
          phone: "(04)2242-1717 #263",
          currentYear: new Date().getFullYear(),
          items:[],
          totalQuantity: 0,
          totalPrice: 0,
        };
        },
        mounted() {
          const userData = JSON.parse(localStorage.getItem('userData'));
          const userId = userData.userId;
          if (userId) {
              this.getUserOrders(userId);
          } else {
              console.error('發生錯誤');
          }
        },
        methods: {
          //獲取訂單資料
          getUserOrders(userId) {
            fetch('http://localhost:8000/userOrders', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userId })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                    
                } else {
                    throw new Error('發生錯誤');
                }
            })
            .then(data => {
                this.items = data;
            })
            .catch(error => {
                console.error('發生錯誤');
            });
          },
          handleScroll() {
          // 滾動事件處理程序
          let prevScrollpos = window.pageYOffset;
          let backToTopBtn = document.getElementById("backToTopBtn");
          window.addEventListener("scroll", () => {
            let currentScrollPos = window.pageYOffset;
            if ((currentScrollPos > 100 && currentScrollPos !== 0) && prevScrollpos > currentScrollPos) {
              // 判斷是否顯示回到頂部按鈕
              backToTopBtn.style.opacity = "1";
            } else {
              backToTopBtn.style.opacity = "0";
            }
            prevScrollpos = currentScrollPos;
          });
          backToTopBtn.addEventListener("click", () => {
            this.scrollToTop();
          });
        },
        scrollToTop() {
          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
        },
      }  
    });
  </script>
  <script>
    const navigationElement = document.getElementById('navigation');
    new Vue({
      render: h => h(NavigationBar)
    }).$mount(navigationElement);
  </script>
</body>
</html>

</html>